<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New message</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
</head>
<body>
    <nav class="container">
        <ul>
            <li>
                Message Board
            </li>
        </ul>
        <ul>
            <li><a class="contrast" href="/">Home</a></li>
            <li><a class="contrast" href="/new"><button>New</button></a></li>
        </ul>
    </nav>

    <main class="container">
        <form method="POST" action="/new">
            <div>
                <label for="author">Author</label>
                <input type="text" name="author" id="author">
            </div>
    
            <div>
                <label for="message">Message</label>
                <textarea name="message" id="message"></textarea>
            </div>
    
            <div class="grid">
                <button type="reset">Reset</button>
                <button type="submit">Send</button>
            </div>
         </form>     
    </main>
</body>
</html>