<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
</head>
<body>
    <nav class="container">
        <ul>
            <li>
                <h1>Message Board</h1>
            </li>
        </ul>
        <ul>
            <li><a class="contrast" href="/">Home</a></li>
            <li><a class="contrast" href="/new">New</a></li>
        </ul>
    </nav>
    
    <main class="container">
        <ul>
            <% messages.forEach((message, index) => { %>
                <li>
                    <h2><%= message.user%></h2>
                    <p><%= message.text %></p>
                    <span><%= message.added %></span>
                    <a href="<%= `/message/${index}` %>">See more</a>
                </li>
            <% }) %>
        </ul>

        <a href="/new">Add a new message</a>
    </main>
</body>
</html>